@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}
p {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.slideshow-container {
    width: 100%;
    margin: 0 auto;
    min-height: 120px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
}
.slideshow-container__pic {
    width: max-content;
    
}
.slideshow-container__pic img{
    
    margin: 0 auto;
    width: 70%;
    max-width: 1900px;
    height: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 16px;
    color: #aaaaaa;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
}
.next {
    right: 20px;
    border-radius: 3px;
}
.prev {
    left: 20px;
    border-radius: 3px;
    
}
.prev:hover, .next:hover {
    background-color: #777777;
    color: white;
}
.slide-buttons {
    position: absolute;
    top: 90%;

}
.dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #bbb;
    display: inline-block;
    margin: 0 auto;
    transition: background-color 0.5s ease;
}
.dot:hover{
    background-color: #777777;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}