@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}
p {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    min-width: 300px;
    font-family: 'Ubuntu', sans-serif;
}
